{
  "printWidth": 100,
  "semi": true,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "singleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "useEditorConfig": true
}
